*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  position: relative;
width: 1440px;
background: #F2F2F2;
padding: 0 80px;
}
header{
  background-color: #FEFCF7;
}
.container{
  width: 1320px;
  margin: 0 auto;
  padding: 20px;
}
a{
  text-decoration: none;
  display: inline-block;
}
ul,ol{
  list-style: none;
}
.header{
  display: flex;
  justify-content: space-between;
}
.header-logo{
  width: 236px;
height: 26px;
}
.header-list{
  display: flex;
}